.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-links {
    a {
      margin-left: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    margin-top: 24px;
    margin-bottom: 52px;
  }
}
