body {
  text-align: center;
  .logo-signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-bloc-form {
    width: 100%;
    margin-top: 12rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-form {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: #9fb1d165 1px solid;
      border-radius: 15px;
      backdrop-filter: blur(12px);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      #sign-up-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label {
          font-size: 1.2em;
        }
        #email,
        #password,
        #firstName,
        #lastName,
        #password-conf {
          width: 300px;
          height: 45px;
          padding: 0 8px;
          border-radius: 15px;
          border: #9fb1d165 1px solid;
          outline: none;
          background-color: #fff;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          &:focus {
            outline: 1px solid $color-1;
          }
        }
        .error {
          margin-inline: 2rem;
          color: red;
          font-weight: blod;
        }
        .login-btn,
        .signup-btn {
          padding: 0.8rem 1rem;
          background-color: $color-1;
          border-radius: 15px;
          border: 1px solid transparent;
          transition: 0.2s ease-in-out;
          font-size: 1.1em;
          color: #fff;
          &:hover {
            cursor: pointer;
            background-color: #fff;
            color: $color-1;
            font-weight: bold;
            border: 1px solid $color-1;
          }
        }
        .reactivate {
          margin-top: 0.4rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .signup-form-end,
      .login-form-end {
        margin-top: 1rem;
        font-size: 1em;
        text-decoration: underline;
        transition: color 0.1s ease-in-out;
        &:hover {
          color: $color-1;
        }
      }
    }
  }
  .signup-end {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}
