body {
  // background-color: #5f7190d0;
  text-align: center;
  .logo-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-bloc {
    width: 100%;
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-form {
      margin-bottom: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      #sign-up-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label {
          font-size: 1.2em;
        }
        input {
          width: 300px;
          height: 45px;
          padding: 0 8px;
          border-radius: 15px;
          border: 1px solid $color-2;
          outline: none;
        }
        .error {
          color: red;
          font-weight: blod;
        }
        .login-btn {
          color: #fff;
          background-color: $color-1;
          width: 180px;
          height: 60px;
          border-radius: 15px;
          border: 1px solid $color-2;
          font-size: 1.2em;
          border: 1px solid transparent;
          transition: 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
            border: 1px solid $color-5;
            background-color: #c38f8b;
            color: $color-5;
          }
        }
        .signup-btn {
          color: #fff;
          background-color: $color-1;
          width: 200px;
          height: 60px;
          border-radius: 15px;
          border: 1px solid $color-2;
          font-size: 1.2em;
          border: 1px solid transparent;
          transition: 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
            border: 1px solid $color-5;
            background-color: #c38f8b;
            color: $color-5;
          }
        }
        .reactivate {
          margin-top: 0.4rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .signup-end {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}
