.post-container {
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
  }
  position: relative;
  border-top: #9fb1d165 1px solid;
  border-left: #9fb1d165 1px solid;
  border-right: #9fb1d165 1px solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px -2px 29px 0px;
  max-width: 750px;
  width: 90%;
  border-radius: 15px;
  hr {
    width: 85%;
    margin: auto;
    background-color: #9fb1d1;
    border: 1px solid #9fb1d1;
  }
  &-top {
    margin: 0.6rem 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 3rem;
    &-img-container {
      position: relative;
      z-index: 2;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 45px;
      min-width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 0.8rem;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: #c37b763f;
        opacity: 0;
        transition: 0.2s ease-in-out;
      }
      &:hover::after {
        z-index: 2;
        opacity: 1;
      }
      img {
        position: absolute;
        z-index: 1;
        padding: 0;
        margin: 0;
        max-width: 45px;
        zoom: 2;
      }
    }
    &-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &-name {
      font-weight: bold;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    &-date {
      cursor: pointer;
      font-weight: 100;
      &:hover {
        text-decoration: underline;
        color: $color-1;
      }
    }
    @media screen and(max-width:768px) {
      flex-wrap: wrap;
    }
  }
  &-message {
    min-height: 55px;
    height: fit-content;
    text-align: left;
    margin: 1rem 1rem;
  }
  &-countlikes {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    &-icon {
      font-size: 0.7em;
      color: #fff;
      background-color: #c37b76;
      padding: 5px;
      border-radius: 50%;
    }
    &-count {
      margin-left: 0.4rem;
    }
  }
  &-end {
    width: 70%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    @media screen and(max-width: 768px) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &__like,
    &__liked,
    &__comment,
    &__delete,
    &__report {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      height: 2.4rem;
      width: 40%;
      margin: auto;
      background-color: transparent;
      transition: 0.2s ease-in-out;
      span {
        font-size: 0.8em;
        padding: 4px;
        @media screen and (max-width: 768px) {
          font-size: 0.6em;
          padding-left: 0;
          padding-right: 0;
        }
      }
      svg {
        padding: 4px;
      }
      &:hover {
        background-color: #767e8b2a;
      }
    }
    &__like {
      margin: auto;
      color: $color-5;
      cursor: pointer;
      border: none;
      font-size: 1.4em;
      svg {
        transition: 0.15s ease-in-out;
      }
      &:hover > svg {
        transform: rotate(-20deg);
      }
    }
    &__liked {
      margin: auto;
      color: $color-1;
      cursor: pointer;
      border: none;
      font-size: 1.4em;
      svg {
        transition: 0.15s ease-in-out;
      }
      &:hover > svg {
        transform: rotate(-20deg);
      }
    }
    &__comment {
      margin-top: 2px;
      color: $color-5;
      cursor: pointer;
      border: none;
      font-size: 1.2em;
      transition: 0.15s ease-in-out;
      &:hover {
        color: $color-1;
      }
    }
    &__delete {
      margin: auto;
      border: none;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.15s ease-in-out;
      &:hover {
        color: rgb(161, 10, 10);
      }
    }
    &__report {
      margin: auto;
      border: none;
      font-size: 1.3em;
      cursor: pointer;
      transition: 0.15s ease-in-out;
      &:hover {
        color: rgb(161, 10, 10);
      }
    }
    &__authorize {
      height: 2.4rem;
      width: 40%;
      margin: auto 1rem auto auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      padding: 0.5rem 1rem;
      background-color: $color-1;
      border-radius: 10px;
      border: 1px solid transparent;
      color: #fff;
      transition: 0.2s ease-in-out;
      span {
        font-size: 0.8em;
        padding: 4px;
        @media screen and (max-width: 768px) {
          font-size: 0.6em;
          padding-left: 0;
          padding-right: 0;
        }
      }
      svg {
        padding: 4px;
      }
      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: $color-1;
        font-weight: bold;
        border: 1px solid $color-1;
      }
    }
    .reportMessage {
      position: fixed;
      z-index: 888888;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(112, 112, 112, 0.383);
      backdrop-filter: blur(3px);
      display: flex;
      justify-content: center;
      align-items: center;
      .reportMessageBox {
        position: absolute;
        z-index: 9999;
        // left: 50%;
        // transform: translate(-50%, 0);
        color: #fff;
        background-color: $color-1;
        padding: 3rem 5rem;
        border: #fff 1px solid;
        border-radius: 15px;
        p {
          margin-bottom: 1.5rem;
          font-size: 1.1em;
        }
        button {
          cursor: pointer;
          padding: 0.5rem 2rem;
          border: 1px solid #fff;
          border-radius: 5px;
          color: #fff;
          font-size: 1.1em;
          font-weight: bold;
          background-color: $color-2;
          transition: 0.2s ease-in-out;
          &:hover {
            background-color: #fff;
            color: $color-1;
          }
        }
      }
    }
  }
  &-comments {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: red;
      backdrop-filter: blur(20px);
    }
    border-left: #9fb1d165 1px solid;
    border-right: #9fb1d165 1px solid;
    border-bottom: #9fb1d165 1px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // margin-bottom: 1.8rem;
    max-width: 700px;
    width: 80%;
    border-radius: 0 0 12px 12px;
    // border-bottom: 1px solid $color-1;
    // border-left: 1px solid $color-1;
    // border-right: 1px solid $color-1;
    // background-color: #9fb1d1cc;
    &:nth-last-child(n + 1) {
      margin-bottom: 1.8rem;
    }

    &-comment {
      position: relative;
      // background-color: rgba(142, 165, 207, 0.8);
      border: 1px solid #9fb1d165;
      border-radius: 12px;
      padding: 0.2rem 1rem;
      .comment-container {
        display: flex;
        flex-direction: row;
        &-name {
          cursor: pointer;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
        .commentDate {
          margin-left: 0.3rem;
        }
      }
      .comment-content {
        text-align: left;
      }
      .comment-delete {
        margin-left: 0.7rem;
        font-size: 1.1em;
        color: black;
        cursor: pointer;
        transition: 0.15s ease-in-out;
        &:hover {
          color: rgb(161, 10, 10);
        }
      }

      @media screen and(max-width:768px) {
        font-size: 0.9em;
        margin: 0.5rem;
      }
      @media screen and(min-width:768px) {
        margin: 0.5rem 0.5rem 1rem;
        width: fit-content;
      }
    }
    &-users {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 0.8rem 0 0.8rem;
      // border-top: 1px solid $color-1;
      form {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        .input-comment {
          width: 80%;
          height: 2.6em;
          outline: none;
          border: none;
          background-color: #fff;
          padding: 0.2rem 0.5rem;
          border-radius: 20px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          &:focus {
            outline: 1px solid $color-1;
          }
          @media screen and(max-width:768px) {
            width: 80%;
          }
        }
        .publish-comment {
          // text
          max-height: 2.6em;
          margin-left: 1rem;
          padding: 0.5rem 1rem;
          background-color: $color-1;
          border-radius: 20px;
          font-size: 1em;
          border: 1px solid transparent;
          color: #fff;
          transition: 0.2s ease-in-out;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          @media screen and(max-width: 599px) {
            display: none;
          }
          &:hover {
            cursor: pointer;
            background-color: #fff;
            color: $color-1;
            font-weight: bold;
            border: 1px solid $color-1;
          }
          &-phone {
            max-height: 2.6em;
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            background-color: $color-1;
            border-radius: 20px;
            font-size: 1em;
            border: 1px solid transparent;
            color: #fff;
            transition: 0.2s ease-in-out;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @media screen and(min-width: 600px) {
              display: none;
            }
            &:hover {
              cursor: pointer;
              background-color: #fff;
              color: $color-1;
              font-weight: bold;
              border: 1px solid $color-1;
            }
          }
        }
      }
    }
    .comment-error {
      margin-bottom: 1rem;
      color: red;
    }
    .charCount {
      font-size: 0.8em;
    }
  }
}

.post-users-img {
  width: 45px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.no-reported-post {
  color: #fff;
  background-color: $color-1;
  padding: 3rem 5rem;
  border: #fff 1px solid;
  border-radius: 15px;
  p {
    margin-bottom: 1.5rem;
    font-size: 1.1em;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    button {
      cursor: pointer;
      padding: 0.5rem 2rem;
      border: 1px solid #fff;
      border-radius: 5px;
      color: #fff;
      font-size: 1.1em;
      font-weight: bold;
      background-color: $color-2;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: #fff;
        color: $color-1;
      }
    }
  }
}
