.upload-post {
  background-color: green;
  max-width: 90%;
  width: 900px;
  height: 200px;
  .form {
    background-color: grey;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    img {
      width: 50px;
      border-radius: 50%;
    }
    input {
      width: 300px;
      height: 45px;
      padding: 0 8px;
      border-radius: 15px;
      border: 1px solid $color-2;
      outline: none;
    }
  }
}
