.float-create-container {
  position: fixed;
  width: 100%;
  max-width: calc(1200px + 2rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 2rem;
  &-btn {
    margin-right: 2rem;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: $color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    transition: 0.2s ease-in-out;
    @media screen and(max-width: 975px) {
      padding: 0.6rem;
      margin-right: 0.4rem;
    }
    svg {
      font-size: 2.2em;
      color: white;
      transition: 0.2s ease-in-out;
      transform: translateX(2px);
      @media screen and(max-width: 975px) {
        font-size: 1.4em;
        transform: translateX(1px);
      }
    }
    &:hover {
      //   background-color: #c37b76be;
      background-color: #fff;
      border: 1px solid $color-1;
      & > svg {
        color: $color-1;
      }
    }
    &::before {
      content: "Nouveau message";
      position: absolute;
      z-index: -1;
      bottom: 40px;
      width: 12%;
      border-radius: 10px;
      background-color: rgba(202, 138, 134, 0.883);
      padding: 0.3rem 0.5rem;
      opacity: 0;
      transition: 0.2s ease;
      transform: translateY(0);
    }
    &:hover::before {
      transform: translateY(-130%);
      opacity: 1;
    }
  }
}
